@media screen and (min-width: 1400px) {
    .scroll-btn-container{
        span{
            top:-5vh !important;
        }
    }
    .header-pc{
        font-size: 2.5rem;
    }
    .sub-header-pc{
        font-size: 1.5rem;
    }
    .review_card{
        p,h3{
            font-size:1.25rem;
        }
    }
}
  @media screen and (min-width: 1600px) {
    .container {
      width: 1570px;
    }
  }
  @media screen and (min-width: 1900px) {
    .scroll-btn-container{
        span{
            top:-4.5vh !important;
            padding: 4.8rem 4.2rem!important;
            a{
                font-size: 3rem;
            }
        }
    }
    .avatar{
        height: 150px !important;
        width: 150px !important;
    }
    .review_card{
        p,h3{
            font-size: 2.5rem;
        }
    }
    .slider-control-centerright,.slider-control-centerleft{
        button{
            font-size: 1.5rem;
        }
    }
    .team-cards{
        height: 40vh !important;
        h2{
            font-size: 2.5rem !important;
        }
        h4{
            font-size: 1.5rem !important;
        }
        .fa-2x{
            font-size: 3rem;
        }
    }
    .header-pc{
        font-size: 3rem;
    }
    .sub-header-pc{
        font-size: 2.5rem;
    }
    footer{
        height: 40vh !important;
        h1{
            font-size: 3.75rem;
        }
        a,p{
            font-size: 2rem;
        }
    }
    .head .blur .clip-path{
        clip-path: polygon(60% 158px, 100% 158px, 100% 100%, 40% 100%) !important;
    }
  }

@media screen and (max-width:1025px){
    .scroll-btn-container{
        span{
            top:-4vh !important;
            padding: 3.8rem 3.8rem!important;
        }
    }
    .clip-path,.heading-pc,.sub-heading-pc{
        display: none;
    }
    .heading-mobile,.sub-heading-mobile{
        display: block !important;
        position: absolute;
        color:$text-color;
        font-family: $Elinato;
    }
    .heading-mobile{
        top:15vh;
        left:15vw;
        font-size: 10vh;
        span{
            position: absolute;
            top:100%;
            left: 40%;
        }
    }
    .sub-heading-mobile{
        top:45vh;
        left:30vw;
        font-size: 7vh;
        span{
            position: absolute;
            top:100%;
            right: 30%;;
        }
    }
    .latest-events{
        top:70vh !important;
        right:30vw !important;
        background-color: rgba(0, 0, 0,0.6) !important;
        box-shadow: none !important;
        animation: none !important;
        font-size: 3vh !important;
    }
    .head{
        background-position-x: 65%;
    }
    .about-us{
        background:$background-color !important;
        .blur{
            background: rgba(0, 0, 0,0.3)!important;
            .background-links{
                .links{
                    display: none;
                }
                .clip-path{
                    width: 100% !important;
                    visibility: hidden !important;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
                    h1{
                        text-align: center;
                        font-size: 5.2vh !important;
                        padding: 20vh 10vw 0 10vw !important;
                        visibility: visible !important; 
                        // text-decoration: underline !important;
                        span{
                            border-bottom: 3px solid $text-color;
                        }
                        
                    }
                    p{
                        visibility: visible !important;
                        width: 100% !important;
                        font-size: 2.3vh !important;
                        padding: 3vh 10vw 0 10vw !important;
                    }
                    .foreground-links{
                        display: block !important;
                        visibility: visible!important;
                        h1{
                            text-align: center;
                            font-size: 4.2vh !important;
                            padding: 2vh 10vw 0 10vw !important;
                            visibility: visible !important; 
                            // text-decoration: underline !important;
                            span{
                                border-bottom: 3px solid $text-color;
                            }
                            
                        }
                        .link_btn{
                            padding-top: 4vh;
                            padding-bottom: 13vh;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            text-align: center;
                            justify-content: space-evenly;
                            .gallery-btn,.event-winner-btn{
                                font-size: 2.5vh;
                                font-family: $Elinato;
                                color: $text-color;
                                padding: 1.5vh;
                                background-color: $background-color;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
            
        }
    }

}
@media screen and (max-width:1020px){
    .blur{
        height: 100vh !important;
        background: rgba(0, 0, 0,0.5) !important;
    }
    .scroll-btn-container{
        height: 0vh !important;
        z-index: 1 !important;
        span{
            top:-15vh !important;
            padding:5vw 4vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
@media screen and ( max-width:767px){
    
    .scroll-btn-container{
        span{
            padding: 7.5vw 5.5vw !important;
            top:-23vh !important;
        }
    }
    .fa-2x{
        font-size: 1.5rem !important;
    }
    .heading-mobile{
        top:20vh !important;
        font-size: 6.5vh !important;
        left:10vw !important;
    }
    .sub-heading-mobile{
        top: 40vh !important;
        left: 25vw !important;
        font-size: 6vh !important;
    }
    .latest-events{
        top:60vh !important;
        font-size: 2vh !important;
    }
    footer{
        height: 80vh !important;
        .content{
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: center !important;
            .page-links{
                .links{
                    flex-direction: column  !important;
                    .right,.left{
                        padding: 0 !important;
                    }
                    .left{
                        padding-top: 2vh !important;
                    }
                }
            }
            .contact{
                h1{
                    padding-top: 6vh !important;
                }
                p{
                    padding-top: 2vh !important;
                    position: static !important;
                }
            }

        }
        .bottom-link{
            .copyright-pc{
                display: none !important;
            }
        }
    }
    .copyright-mobile{
        display: block !important;
        width: 100%;
        text-align: center;
        background-color: #000;
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    .reviews{
        .header-mobile,.sub-header-mobile{
            display: block !important;
        }
        .header-mobile,.sub-header-mobile{
            text-align: center;
            margin-bottom: 1vh;
        }
        .header-pc,.sub-header-pc{
            display: none;
        }
        .review_card_outer{
            width: 80% !important;
            border-radius: 0 !important;
            margin-left: 11% !important;
            .review_card{
                p{
                    font-size: 2.25vh;
                    padding: 0 4vw 2vh;
                    text-align: justify;
                }
                h3{
                    align-self: center !important;
                    font-size: 2.25vh !important;
                }
            }
        }
    }
}